/* UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --first-color: #04676E;
    --second-color: #000000;
    --third-color: #ffffff;
    --fourth-color: #022528;
}
/* COMMON CLASSES */
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}
section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
img{
    max-width: 100%;
}
body{
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
/* NAVBAR SECTION */
.navbar-brand{
    display: block;
    width: 192px;
}
.navbar-brand img{
    width: 100%;
}
/* BANNER SECTION */
.banner-sec{
    background: url(../images/banner-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.btn-light{
    font-family: "Aclonica", sans-serif;
    font-size: 32px;
    font-weight: 400;
    border: none;
    border-radius: 15px;
    color: var(--first-color);
    padding: 25px 37px 26px 36px;
    transition: all linear 0.3s;
}
.btn-light:hover{
    background-color: var(--fourth-color);
    color: var(--third-color);
}
/* CARD SECTION */
.card-sec{
    background-color: rgba(228, 250, 252, 0.58);
    padding: 70px 0 92px;
}
.card-sec a{
    text-decoration: none;
    display: block;
}
.cmn-card{
    background-color: var(--third-color);
    padding: 28px 64px 30px;
    border: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    max-width: 220px;
    transition: all linear 0.3s;
}
.cmn-card:hover{
    transform: scale(1.04);
}
.card-active{
    padding: 28px 49px 30px 48px;
}
.card-title{
    font-family: "Abyssinica SIL", serif;
    color: var(--first-color);
}
.card {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.card figure {
  background: transparent;
  border: none;
  margin: 0;
}

.card img {
  display: block;
  background: transparent;
  border: none;
  box-shadow: none;
}

/* FOOTER SECTION */
.footer-sec{
    background-color: var(--fourth-color);
    padding: 59px 0 23px;
}
.cmn-footer{
    margin-bottom: 38px;
}
.footer-logo{
    display: block;
    width: 213px;
}
.footer-logo img{
    width: 100%;
}
.footer-sec a{
    text-decoration: none;
    display: block;
}
.footer-3 li{
    list-style: none;
}

/* MEDIA QUERY */

@media only screen and (max-width: 576px){
    .footer-logo{
        display: inline-block;
        margin: auto;
    }
    .cmn-footer{
        text-align: center;
    }
    .footer-2 li{
        list-style: none;
    }
}